h1, h2 {
    font-family: Courier, monospace;
}

h1, h2, p, .narrow {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

h1 {
    padding-top: 20px;
    padding-bottom: 40px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 20px;
}

p, footer {
    font-family: monospace;
}

p {
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding: 50px 20px 20px;
}

.box {
    padding-bottom: 50px;
}

.subheader {
    font-size: 0.7em;
    display: block;
}

.dark {
    background: #1a1a1a;
    border-radius: 5px;
}

.dark h1,
.dark h2,
.dark p {
    color: #33FF33;
}

.dark a,
.dark .subheader {
    color: #FFB000;
}

@media (min-width: 700px) {
    footer {
        padding-left: 10%;
    }
}

.brand-name {
    font-family: Courier, monospace;
}